<h2>Program List</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Program</th>
    <th>City</th>
    <th>Country</th>
    <th>Continent</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>URL</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <tr *ngFor="let program of programs">
    <th>{{program.id}}</th>
    <th>{{program.name}}</th>
    <th>{{program.city}}</th>
    <th>{{program.country}}</th>
    <th>{{program.continent}}</th>
    <th>{{program.startDate}}</th>
    <th>{{program.endDate}}</th>
    <th>{{program.status}}</th>
    <th>{{program.url}}</th>
    <th>{{program.latitude}}</th>
    <th>{{program.longitude}}</th>
  </tr>
</table>
